@use './mixins' as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {

    /* ============= start main stuff ============= */
    --body-font-open-sans: "Open Sans", sans-serif;
    --body-font-roboto-mono: 'Roboto Mono', monospace;
    --transition: all .4s ease-in-out;
    --transition-fast: all .1s ease-in-out;
    --body-bg-color: ;
    --body-text-color: ;
    --section-padding: 4rem;
    --main-padding: 1rem;
    --nav-height: 7rem;
    --radius: 4px;

    /* ============== end main stuff ============== */
    /* ============= start  font size ============= */

    --fz-normal: 12px;
    --fz-small: 11px;
    --fz-smaller: 10px;

    @include media(lg) {
        --fz-normal: 13px;
        --fz-small: 12px;
        --fz-smaller: 11px;
    }

    @include media(xxl) {
        --fz-normal: 14px;
        --fz-small: 13px;
        --fz-smaller: 12px;
    }

    /* ============= start  font size ============= */

    /* ===== start  margins and padding stuff ===== */

    --m-05: 5px;
    --m-10: 10px;
    --m-15: 15px;
    --m-20: 20px;
    --m-25: 25px;
    --m-30: 30px;
    --m-35: 35px;
    --m-40: 40px;
    --m-45: 45px;
    --m-50: 50px;
    /* ===== end  margins and padding stuff ===== */
}