@import './mixins' ; 

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');


:root {

    /* ============= start main stuff ============= */

    /* ============== end main stuff ============== */

    /* ============= start  font size ============= */
    --fz-normal: 12px;
    --fz-small: 11px;
    --fz-smaller: 10px;

    @include media(lg) {
        --fz-normal: 13px;
        --fz-small: 12px;
        --fz-smaller: 11px;
    }

    @include media(xxl) {
        --fz-normal: 14px;
        --fz-small: 13px;
        --fz-smaller: 12px;
    }
    
    --text-normal-fw: 400 ;
    --text-heading-fw: 500 ;
    /* ============= start  font size ============= */

}