@use "../utilities/mixins" as *;
@use "../utilities/vars" as *;

/*        start  the main element styling       */
html {
  font-size: 10px;
}

*>* {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font-open-sans);
  font-weight: var(--fw-normal);
  color: var(--body-text-color);
  font-size: var(--fz-normal);
  transition: opacity 0.2s ease-in;
  line-height: 1.5;
}

a {
  text-transform: capitalize;
}

/*           end main elements styling          */
.wrapper {
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto 0;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

  header {
    font-size: 30px;
    font-weight: 600;
  }

  .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;

    input {
      width: 85%;
      height: 100%;
      outline: none;
      border-radius: 3px;
      border: 1px solid #ccc;
      font-size: 17px;
      padding-left: 15px;
      transition: all 0.3s ease;

      &:focus {
        border-color: #8e49e8;
      }
    }

    button {
      width: 50px;
      height: 100%;
      border: none;
      color: #fff;
      margin-left: 5px;
      font-size: 21px;
      outline: none;
      background: #8e49e8;
      cursor: pointer;
      border-radius: 3px;
      opacity: 0.6;
      pointer-events: none;
      transition: all 0.3s ease;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .inputField button:hover,
  .footer button:hover {
    background: #721ce3;
  }

  .todoList {
    max-height: 250px;
    overflow-y: auto;

    .todo{
      position: relative;
      list-style: none;
      margin-bottom: 8px;
      background: #f2f2f2;
      border-radius: 3px;
      padding: 10px 15px;
      cursor: default;
      overflow: hidden;
      word-wrap: break-word;

      &:hover {
        .icon {
          right: 0;
        }
      }

      .icon {
        position: absolute;
        right: -45px;
        top: 50%;
        transform: translateY(-50%);
        background: #e74c3c;
        width: 45px;
        text-align: center;
        color: #fff;
        padding: 10px 15px;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        transition: all 0.2s ease;
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 6px 10px;
      border-radius: 3px;
      border: none;
      outline: none;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      margin-left: 5px;
      background: #8e49e8;
      cursor: pointer;
      user-select: none;
      opacity: 0.6;
      pointer-events: none;
      transition: all 0.3s ease;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}