@use '../utilities/vars' as *;

/*           start  of the typography           */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    font-weight: 500;
}

h6,
h5,
h4,
h3,
h2,
h1,
p {
    margin: {
        top: 1rem;
        bottom: 1rem;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    *+& {
        margin-top: 1rem;
    }
}

/*           end  of the typography           */