@use "../utilities/vars" as *;

/*        start  the main element styling       */
html {
  font-size: 10px;
}

*>* {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

body {
  font-size: var(--fz-normal);
  transition: opacity 0.2s ease-in;
  line-height: 1.5;
}

a {
  text-transform: capitalize;
}

/*           end main elements styling          */
.box {
  @include px(10px 29px);
  @include flex-between(start);
  @include directions(10px 0, 15px 0)
}
 p {  
  color: red;
 }